LOG_LEVEL=info
BROKER_URL=amqp://guest:guest@rabbitmq:5672/
BROKER_EXCHANGE=flow.events
REDIS_ADDR=redis:6379

COMMENT_HTTP_PORT=8081
COMMENT_GRPC_PORT=9091
COMMENT_POSTGRES_DSN=postgres://comment:comment@postgres_comment:5432/commentdb?sslmode=disable

NOTIFY_POSTGRES_DSN=postgres://notify:notify@postgres_notify:5432/notifydb?sslmode=disable
NOTIFY_BROKER_QUEUE=notify-service.events
NOTIFY_CONSUMER_WAIT=3s
